@page "/test-page"
<h3>Test Page</h3>
<component typeof="typeof(Reg)"></component>
@code {
    
}

<component type="typeof(RegistrationForm)" render-mode="ServerPrerendered" />
<component type="typeof(AuthenticationForm)" render-mode="ServerPrerendered" />
<component type="typeof(UnAuthorizedButton)" render-mode="ServerPrerendered" />
<component type="typeof(UsersHandlerPanel)" render-mode="ServerPrerendered" />
<component type="typeof(App)" render-mode="ServerPrerendered" />
