@using IQGROUP_test_task.Pages
@inherits LayoutComponentBase

<PageTitle>Test task IQGROUP</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            <AuthorizeView>
                <Authorized>
                    <NavLink class="dark-button" href="/switch">
                        Изменить тему
                    </NavLink>
                    <NavLink class="dark-button" href="/menu">
                        Меню взаимодействия с пользователями
                    </NavLink>
                    <div class="button-container">
                        <NavLink class="btn btn-primary" href="/profile">
                            Профиль
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="button-container">
                        <RegistrationForm />
                        <AuthenticationForm />
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
